@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Montserrat:wght@700&display=swap");
:root {
  --fontPrimary: "Arvo", serif;
  --fontLogo: "Montserrat", sans-serif;
  --bg: #16161a;
  --bg-alt: #242629;
  --primary: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
  --white: #fffffe;
  --grey: #94a1b2;
  --headline1: 700 72px / 80px var(--fontPrimary);
  --headline2: 700 64px / 76px var(--fontPrimary);
  --headline3: 700 32px / 32px var(--fontPrimary);
  --headline4: 700 24px / 26px var(--fontPrimary);
  --headline5: 700 20px / 26px var(--fontPrimary);
  --body1: 400 18px / 27px var(--fontPrimary);
  --body1-bold: 700 18px / 27px var(--fontPrimary);
  --body2: 400 14px / 27px var(--fontPrimary);
  --body2-bold: 400 14px / 27px var(--fontPrimary);
  --button: 400 18px / 27px var(--fontPrimary);
  --logo: 700 24px / 24px var(--fontLogo);
  --pd-btn: 0.75rem 1.5rem;
  --sm: 1rem;
  --md: 2rem;
  --lg: 2.5rem;
  --xlg: 4rem;
  --xxlg: 5rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--bg);
  font: var(--body1);
  color: var(--grey);
}

.wrapper {
  max-inline-size: 76.25rem;
  -webkit-padding-start: var(--sm);
          padding-inline-start: var(--sm);
  -webkit-padding-end: var(--sm);
          padding-inline-end: var(--sm);
  margin: 0 auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg);
  min-block-size: 4rem;
}

.header__menu {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  background-image: url(../icons/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header__menu--active {
  background-image: url(../icons/cancel.svg);
}

@media screen and (min-width: 992px) {
  .header__menu {
    display: none;
  }
}

.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.header__nav--active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.brand {
  font: var(--logo);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  padding: var(--pd-btn);
  background-color: transparent;
  border-radius: 0.25rem;
  font: var(--button);
  text-align: center;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.btn__primary {
  background-color: #7f5af0;
}

.btn__primary:hover {
  background-color: #6d43ee;
}

.btn__secondary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: #16161a;
}

.btn__secondary:hover {
  background-color: #5c5c6d;
  color: var(--white);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--sm);
  -webkit-padding-before: var(--xxlg);
          padding-block-start: var(--xxlg);
  -webkit-padding-after: var(--xxlg);
          padding-block-end: var(--xxlg);
}

@media screen and (min-width: 768px) {
  .hero {
    gap: 1.5rem;
  }
}

.hero__title {
  font: var(--headline4);
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .hero__title {
    font: var(--headline3);
  }
}

@media screen and (min-width: 992px) {
  .hero__title {
    font: var(--headline1);
  }
}

.hero__description {
  max-inline-size: 36.25rem;
}

.hero a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.projects {
  -webkit-padding-before: var(--xlg);
          padding-block-start: var(--xlg);
  -webkit-padding-after: var(--xlg);
          padding-block-end: var(--xlg);
  max-inline-size: 49rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .projects {
    -webkit-padding-before: var(--xxlg);
            padding-block-start: var(--xxlg);
    -webkit-padding-after: var(--xxlg);
            padding-block-end: var(--xxlg);
  }
}

.projects__title {
  font: var(--headline4);
  color: var(--white);
  -webkit-margin-after: var(--lg);
          margin-block-end: var(--lg);
}

@media screen and (min-width: 768px) {
  .projects__title {
    font: var(--headline3);
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .projects__title {
    font: var(--headline2);
    -webkit-margin-after: var(--xxlg);
            margin-block-end: var(--xxlg);
  }
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--xxlg);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--sm);
}

@media screen and (min-width: 768px) {
  .project {
    gap: var(--lg);
  }
}

.project__img {
  text-align: center;
}

.project__img img {
  width: 100%;
  display: block;
  height: 18.75rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 768px) {
  .project__img img {
    height: 21.875rem;
    -o-object-position: top;
       object-position: top;
  }
}

@media screen and (min-width: 992px) {
  .project__img img {
    height: auto;
  }
}

.project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--sm);
}

.project__title {
  font: var(--body1);
}

.project__description {
  font: var(--headline5);
}

@media screen and (min-width: 992px) {
  .project__description {
    font: var(--headline3);
  }
}

.project__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--sm);
}

.project__btn a:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (min-width: 768px) {
  .project__btn {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .project__btn a:nth-child(1) {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.testimonials {
  -webkit-padding-before: var(--xlg);
          padding-block-start: var(--xlg);
}

@media screen and (min-width: 768px) {
  .testimonials {
    -webkit-padding-before: var(--xxlg);
            padding-block-start: var(--xxlg);
    -webkit-padding-after: var(--xxlg);
            padding-block-end: var(--xxlg);
  }
}

.testimonials__title {
  font: var(--headline4);
  color: var(--white);
  -webkit-margin-after: var(--lg);
          margin-block-end: var(--lg);
}

@media screen and (min-width: 768px) {
  .testimonials__title {
    font: var(--headline3);
    -webkit-margin-after: var(--xxlg);
            margin-block-end: var(--xxlg);
  }
}

@media screen and (min-width: 992px) {
  .testimonials__title {
    font: var(--headline2);
  }
}

.sponsors {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sponsors img {
  height: 200px;
}

.sponsors img:hover {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

@media screen and (min-width: 768px) {
  .sponsors {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .sponsors img {
    width: 100%;
    height: auto;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-padding-before: var(--xlg);
          padding-block-start: var(--xlg);
  -webkit-padding-after: var(--xlg);
          padding-block-end: var(--xlg);
  font: var(--headline4);
}

@media screen and (min-width: 768px) {
  .contact {
    -webkit-padding-before: var(--xxlg);
            padding-block-start: var(--xxlg);
    -webkit-padding-after: var(--xxlg);
            padding-block-end: var(--xxlg);
    gap: var(--lg);
    font: var(--headline3);
  }
}

@media screen and (min-width: 992px) {
  .contact {
    gap: var(--xxlg);
    font: var(--headline2);
  }
}

.contact__description {
  color: var(--white);
}

.contact__email {
  color: var(--primary);
  text-decoration: none;
}

.contact__email:hover {
  text-decoration: underline;
}

.footer {
  -webkit-padding-before: var(--lg);
          padding-block-start: var(--lg);
  -webkit-padding-after: var(--lg);
          padding-block-end: var(--lg);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: var(--md);
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-padding-before: var(--xxlg);
            padding-block-start: var(--xxlg);
    -webkit-padding-after: var(--xxlg);
            padding-block-end: var(--xxlg);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: vr(--sm);
}

.footer__link {
  font: var(--body2);
  color: var(--white);
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  -webkit-padding-before: 120px;
          padding-block-start: 120px;
}

.navbar__item {
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
}

.navbar__item--active a {
  color: var(--white);
}

.navbar__link {
  text-decoration: none;
  text-transform: uppercase;
  font: var(--headline3);
  color: var(--secondary);
}

.navbar__link:hover {
  color: var(--white);
}
/*# sourceMappingURL=index.css.map */