@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Montserrat:wght@700&display=swap");
:root {
  --fontPrimary: "Arvo", serif;
  --fontLogo: "Montserrat", sans-serif;
  --bg: #16161a;
  --bg-alt: #242629;
  --primary: #7f5af0;
  --secondary: #72757e;
  --tertiary: #2cb67d;
  --white: #fffffe;
  --grey: #94a1b2;
  --headline1: 700 72px / 80px var(--fontPrimary);
  --headline2: 700 64px / 76px var(--fontPrimary);
  --headline3: 700 32px / 32px var(--fontPrimary);
  --headline4: 700 24px / 26px var(--fontPrimary);
  --headline5: 700 20px / 26px var(--fontPrimary);
  --body1: 400 18px / 27px var(--fontPrimary);
  --body1-bold: 700 18px / 27px var(--fontPrimary);
  --body2: 400 14px / 27px var(--fontPrimary);
  --body2-bold: 400 14px / 27px var(--fontPrimary);
  --button: 400 18px / 27px var(--fontPrimary);
  --logo: 700 24px / 24px var(--fontLogo);
  --pd-btn: 0.75rem 1.5rem;
  --sm: 1rem;
  --md: 2rem;
  --lg: 2.5rem;
  --xlg: 4rem;
  --xxlg: 5rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--bg);
  font: var(--body1);
  color: var(--grey);
}

.wrapper {
  max-inline-size: 76.25rem;
  -webkit-padding-start: var(--sm);
          padding-inline-start: var(--sm);
  -webkit-padding-end: var(--sm);
          padding-inline-end: var(--sm);
  margin: 0 auto;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg);
  min-block-size: 4rem;
}

.header__menu {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: none;
  background-image: url(../icons/menu.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 992px) {
  .header__menu {
    display: none;
  }
}

.brand {
  font: var(--logo);
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  padding: var(--pd-btn);
  background-color: transparent;
  border-radius: 0.25rem;
  font: var(--button);
  text-align: center;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}

.btn__primary {
  background-color: #7f5af0;
}

.btn__primary:hover {
  background-color: #6d43ee;
}

.btn__secondary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: #16161a;
}

.btn__secondary:hover {
  background-color: #5c5c6d;
  color: var(--white);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--sm);
  -webkit-padding-before: var(--xxlg);
          padding-block-start: var(--xxlg);
  -webkit-padding-after: var(--xxlg);
          padding-block-end: var(--xxlg);
}

@media screen and (min-width: 768px) {
  .hero {
    gap: 1.5rem;
  }
}

.hero__title {
  font: var(--headline4);
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .hero__title {
    font: var(--headline3);
  }
}

@media screen and (min-width: 992px) {
  .hero__title {
    font: var(--headline1);
  }
}

.hero__description {
  max-inline-size: 36.25rem;
}

.hero a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
/*# sourceMappingURL=index.css.map */