.footer {
  padding-block-start: var(--lg);
  padding-block-end: var(--lg);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: var(--md);
  @include tablet {
    padding-block-start: var(--xxlg);
    padding-block-end: var(--xxlg);
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  &__col {
    @include flexColumn;
    gap: vr(--sm);
  }
  &__link {
    font: var(--body2);
    color: var(--white);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
