.header {
  @include topSticky;
  @include flexBetween;
  background-color: var(--bg);
  min-block-size: 4rem;
  &__menu {
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    background-image: url(../icons/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    &--active {
      background-image: url(../icons/cancel.svg);
    }
    @include tablet {
      display: none;
    }
  }
  &__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.25s ease-in-out;
    &--active {
      transform: scale(1, 1);
    }
    @include tablet {
      position: initial;
      inset: initial;
      height: auto;
      width: auto;
      background-color: transparent;
      transform: initial;
    }
  }
}
