.navbar {
  @include flexColumn;
  align-items: center;
  gap: 3rem;
  padding-block-start: 7.5rem;
  &__item {
    list-style: none;
    display: block;
    width: 100%;
    text-align: center;
    &--active a {
      color: var(--white);
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font: var(--headline3);
    color: var(--secondary);
    &:hover {
      color: var(--white);
    }
  }
  @include tablet {
    padding-block-start: 0;
    flex-direction: initial;
    gap: 2.5rem;
    &__link {
      font: var(--body2-bold);
    }
  }
}
